= form_for(@portfolio_item) do |f|
  - if @portfolio_item.errors.any?
    -@portfolio_item.errors.full_messages.each do |error|
      = alert_generator(error)
  .row
    .col-md-6
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :subtitle
        = f.text_field :subtitle, class: 'form-control'
      .form-group
        = f.file_field :main_image, class: 'form-control'
      .form-group
        = f.file_field :thumb_image, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control', rows: 13
  %hr/
  .col-md-12
    %h2 Technolgies Used:
    %div
      = f.fields_for :technologies do |technology_form|
        =render 'technology_fields', f: technology_form
    %div
      =link_to_add_association 'Add Technology', f, :technologies
    .form-group
      = f.submit 'Save Portfolio Item', class: 'btn btn-primary btn-block'