.container
  .row
    .col-md-7
      = image_tag @portfolio_item.main_image, class: 'img-fluid'
    .col-md-5
      %h1= @portfolio_item.title
      %hr/
      %em= @portfolio_item.subtitle
      %p= @portfolio_item.body
      %hr/
      %h3 Technologies Used:
      - @portfolio_item.technologies.each do |t|
        %p= t.name
  =link_to('Back', portfolios_path)