!!!
%html
  %head
    %title #{@page_title}
    = csrf_meta_tags
    %meta{content: @seo_keywords, name: "keywords"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar', location: 'top'
    %p.notice= notice
    %p.alert= alert
    = yield
    %hr
    = params.inspect
    %hr
    = source_helper
    %hr
    = copyright_generator
  