!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title= @page_title
    = csrf_meta_tags
    %meta{:content => @seo_keywords, :name => "keywords"}/
    = stylesheet_link_tag    'posts', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar_blog'
    .blog-header
      .container
        %h1.blog-title The Bootstrap Blog
        %p.lead.blog-description An example blog template built with Bootstrap.
    .container
      .row
        = yield
        = render 'shared/blog_sidebar'
      %footer.blog-footer
        %p
          = copyright_generator
        %p
          %a{:href => "#"} Back to top
        %p
          = source_helper