= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    -post.errors.full_messages.each do |error|
      = alert_generator(error)

  .form-group
    = form.label :title
    = form.text_field :title, id: :post_title, class: 'form-control'
  .form-group
    = form.label :body
    = form.text_area :body, id: :post_body, class: 'form-control', rows: 15
  .actions
    = form.submit 'Submit', class: 'btn btn-primary'