%tr
  %td
    = post.title
  %td
    = post.body
  %td
    = link_to(post.status, toggle_status_post_path(post))
  %td
    = link_to('Show', post)
  %td
    = link_to('Edit', edit_post_path(post))
  %td
    = link_to('Destroy', 
              post,
              method: :delete,
              data: { confirm: 'Are you sure?' })
